
@{
    ViewBag.Title = "FAQ";
}

@section scripts{
    @* TODO: Uncomment Age Gates before deployment/client meetings *@
    @Scripts.Render("~/bundles/agecheck")
}

<div class="panel panel-default">
    <div class="foldout-wrap">
        <div class="foldout-header">
            <h1>Where would you suggest I park?<span> >></span></h1>
        </div>
        <div class="foldout-content" style="display: ">
            <p></p>
            <p>There is plenty of parking all around our taproom, but if you don't see any right out front, try the parking lot on Kimmel St., its just right around the corner and a quick hop away.</p>
            <p></p>
        </div>
    </div>
    <div class="foldout-wrap">
        <div class="foldout-header">
            <h1>Is your taproom dog friendly?<span> >></span></h1>
        </div>
        <div class="foldout-content" style="display: ">
            <p></p>
            <p>Yes, we love dogs and encourage you to bring them. Those worried about it being a violation, don't fret, we don't have a kitchen so it is completely fine. We also keep dogs out of the area where the beers are made.</p>
            <p></p>
        </div>
    </div>
    <div class="foldout-wrap">
        <div class="foldout-header">
            <h1>Do you have food?<span> >></span></h1>
        </div>
        <div class="foldout-content" style="display: ">
            <p></p>
            <p>We don't make any food in house, however, we have a food truck station in our beer garden with different food trucks daily. Check out our food truck schedule on our facebook page, the link is at the bottom of this page.</p>
            <p></p>
        </div>
    </div>
    <div class="foldout-wrap">
        <div class="foldout-header">
            <h1>What are your hours?<span> >></span></h1>
        </div>
        <div class="foldout-content" style="display: ">
            <p></p>
            <p>Our taproom hours are: Mon - Thurs 3pm to 11pm, Fri & Sat 11am to 12am, Sun 12pm - 10pm</p>
            <p></p>
        </div>
    </div>
    <div class="foldout-wrap">
        <div class="foldout-header">
            <h1>I want to work for Watermark Brewing Company.<span> >></span></h1>
        </div>
        <div class="foldout-content" style="display: ">
            <p></p>
            <p>Sweet! We would love to speak with you. Feel free to come in and ask for a manager. Otherwise, leave a message on our contact us page.</p>
            <p></p>
        </div>
    </div>
    <div class="foldout-wrap">
        <div class="foldout-header">
            <h1>Do you give tours? <span> >></span></h1>
        </div>
        <div class="foldout-content" style="display: ">
            <p></p>
            <p>We don't have scheduled tours, but if you stop in and ask the bartender if someone can show you around, we'd love to!</p>
            <p></p>
        </div>
    </div>
    <div class="foldout-wrap">
        <div class="foldout-header">
            <h1>In a band or know someone in a band that wants to play in our taproom?<span> >></span></h1>
        </div>
        <div class="foldout-content" style="display: ">
            <p></p>
            <p>We love live music! Shoot us a message on our Contact Us page and we will reach out!</p>
            <p></p>
        </div>
    </div>
</div>
