@model CapstoneV2.Models.Data.StaticPage
<div class="panel">
    <div class="panel-heading">
        <h1>@Model.Title</h1>
    </div>
    <div class="panel-body">
        @Html.Raw(Model.Body)
    </div>
</div>